{
  "quoteProps": "consistent",
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [".eslintrc", ".prettierrc", ".lintstagedrc", ".huskyrc"],
      "options": { "parser": "json" }
    }
  ]
}